<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Загрузка XML файла</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body class="bg-light d-flex align-items-center min-vh-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Калькулятор расчета оборудования для Directum RX</h3>
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <div class="mb-4">
                                <label for="xmlFile" class="form-label">Выберите XML файл</label>
                                <input class="form-control" type="file" id="xmlFile" name="xml_file" accept=".xml" required>
                            </div>
                            <div class="d-grid mb-3">
                                <button type="submit" class="btn btn-primary">Отправить</button>
                            </div>
                        </form>
                        <div class="d-grid mb-4">
                            <a src="/questionnair" download class="btn btn-secondary">
                                </i>Заполнить анкету онлайн
                            </a>
                        </div> 
                        <div class="d-grid mb-5">
                            <a href="https://github.com/ialexg72/drx_questionnaire/releases/download/main/index.html" download class="btn btn-secondary">
                                <i class="bi-github me-2"></i> Скачать оффлайн анкету
                            </a>
                        </div>                    
                        {% if report_link %}
                            <div class="alert alert-success mt-4 d-flex justify-content-between align-items-center" role="alert">
                                <span>Расчет готов:</span>
                                <a href="{{ report_link }}" download class="alert-link">Скачать расчет</a>
                            </div>
                            <div class="alert alert-warning mt-4 d-flex justify-content-between align-items-center" role="alert">
                                <span>Не забудьте обновить оглавление!!! Python на Linux этого пока делать не умеет :(</span>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JS и зависимости (опционально) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
